

.create {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  .create label {
    text-align: left;
    display: block;
  }
  .create h2 {
    font-size: 20px;
    color: #1F51FF;
    margin-bottom: 30px;
  }
  .create input, .create textarea, .create select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
  }
  .create button {
    background: #FF10F0;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
  }
  .rating {
    display: flex;
           margin-top: -10px;
       flex-direction: row-reverse;
       margin-left: -4px;
           float: left;
   }
   
   .rating>input {
       display: none
   }
   
   .rating>label {
           position: relative;
       width: 19px;
       font-size: 25px;
       color: #FF10F0
       ;
       cursor: pointer;
       
   }
.create{
  
  margin-top: 10rem;
}

.game-info{
  margin-top: 3rem;
  padding-left: 1rem;
}

